.App {
  text-align: center;
}

.beer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beer-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 300px;
}

.beer-card img {
  max-width: 100%;
  border-radius: 5px;
}
